<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html,body{
            margin: 0;
            padding: 0;
            width: 100%;
        }
        .left{
            width: 100px;
            background: red;
            float: left;

        }
        .right{
            margin-left: 100px;
            background: blue;
        }
    </style>
</head>
<body>
<div class="left">
left
</div>

<div class="right">
right
right
right
</div>
</body>
</html>