<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body,html{
            margin: 0;
            padding: 0;
            width: 100%;
        }
        .parent{
            width: 100%;
        }
        .left{
            width: 100px;
            height: 100px;
            background: red;
            display: table-cell;
        }
        .right{
            display: table-cell;
            background: yellow;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="parent">
    <div class="left">
        left
    </div>

    <div class="right">
        right
    </div>
</div>
</body>
</html>